body {
  font-family: courier;
  margin-left: auto;
  font-size: 30px;
  background-color: #90A4DF;
  background-position: 100% 100%;
  background-size: 48%;
}

.jumbotron {
  margin-top: 30px;
  border: 8px solid black;
  box-shadow: 8px 8px;
  padding: 10px 30px;
  font-size: 40px;
  text-align: center;
  background-color: #DBC4CE;
}



/* * button {
  font-family: courier;
  font-weight: 20px;
  letter-spacing: 5px;
}

*button#rules {
  font-family: courier;
  border: 2px solid black;
  border-radius: 50%; */
/* } */


}
